* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.header {
    background-color: white;   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 5vh;
}

.app-name {
    display: flex;
}

.app-name i::after {
    margin-left: 10px;
    content: "QuizMaster";
    font-family: 'Poppins', sans-serif;

}
.app-name i {
    color: #007bff;
    padding: 15px 350px;
    font-size: 35px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.background-content {
    position: relative;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    width: 740px;
}

.contents {
    padding: 35px;

}
.contents p {
    max-width: 600px;
}

.background-content::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 40px;
    background: linear-gradient(45deg, #007bff, #00aaff, #00c6ff, #00e1ff, #00ffff);
    top: -5px;
    left: 20px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
    z-index: -1;
}

.contents h2 {
    font-size: 18px;
}
.contents h1 {
    color: #272343;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.content p {
    color: #6c757d;
    font-size: 16px;
    max-width: 600px;
}

#button-start {
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#button-start:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#button-start:active {
    background-color: #004085;
    transform: scale(0.98);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: white;
    border-top: #333 1px solid;
}

.footer-content {
    margin-top: 10px;
    font-size: 16px;
}
.content.invisible {
    display: none;
}

/* Q-part */
.quiz-page {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-background {
    background-color: white;
    position: relative;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    width: 740px;
    height: 750px;
}

.quiz-background::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 40px;
    background: linear-gradient(45deg, #007bff, #00aaff, #00c6ff, #00e1ff, #00ffff);
    top: -5px;
    left: 20px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
    z-index: -1;
}

.progression-bar {
    background-color: #e9ecef;
    width: 680px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.progress-bar {
    border-radius: 15px;
    background-color: #0d6efd;
    width: 30%;
    height: 100%;
}

.quiz-page.invisible {
    display: none;
}

.category {
    color: white;
}
.badge-category {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
}
.difficulty {
    margin-left: 20px;
}
.difficulty h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}
.status-of-question {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.question {
    text-align: start;
    margin-top: 20px;
}
.question h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}
.answers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin: 20px 0;
}
.btn-answer {
    width: 636px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    text-align: start;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
}
.btn-answer:hover {
    cursor: pointer;
    border-color: #6610f2;
    background-color: #f9f6ff;
}
.btn-position {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}
.btn-position button {
    font-size: 20px;
    font-weight: 600;
}