* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    color: #293241;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    padding-bottom: 40px;
    color: #293241;
    background: none;
    animation: colorChange 6s infinite;
}

@keyframes colorChange {
    0% { color: #FFB4A2; }
    20% { color: #BDE0FE; }
    40% { color: #A2D2FF; }
    60% { color: #FFCDB2; }
    100% { color: #FFB4A2; }
}

.container {
    background-color: #ffffff;
    border-radius: 25px;
    border: #293241 solid 1px;
    height: 250px;
    width: 550px;
}

.nav-bar {
    display: flex;
    border-bottom: 1px solid #293241;
}



.content {
    height: 209px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit {
    align-self: flex-end;
}

label {
    background-color: #ffffff;
    position: absolute;
    color: #293241;
}

#price-input,
#amount-input,
#type-select {
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #293241;
    padding-left: 5px;
    font-size: 16px;
    color: #293241;
}
/* Chrome Edge Safari ... */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.price {
    position: relative;
}

.amount {
    position: relative;
}

.type {
    position: relative;
}

.price label {
    padding: 0 5px;
    top: -8px;
    left: 10px;
}
.amount label {
    padding: 0 5px;
    top: -8px;
    left: 10px;
}
.type label {
    padding: 0 5px;
    top: -8px;
    left: 10px;
}

button {
    border: #293241 solid 1px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: #A2D2FF;
    color: #293241;
}

button:hover {
    background-color: #BDE0FE;
    cursor: pointer;
}


p:hover {
    cursor: pointer;
    color: #A2D2FF;
}

p {
    padding: 10px;
}

p.active.first-p {
    border-top-left-radius: 25px;
    border-bottom:#84bcf0 solid 2px;
    background-color: #f5f8fb;
}
p.active.second-p {
    border-bottom:#84bcf0 solid 2px;
    background-color: #f5f8fb;
}
p.active.third-p {
    border-bottom:#84bcf0 solid 2px;
    background-color: #f5f8fb;
}

@media (max-width: 665px) {
    h1 {
        font-size: 50px;
    }
    .container {
        width: 400px;
        height: 350px;
    }
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 85%;
    }
    p {
        font-size: 20px;
    }
    label {
        font-size: 20px;
    }
    #price-input,
    #amount-input,
    #type-select {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
    button {
        font-size: 20px;
    }
}

@media (max-width: 445px) {
    h1 {
        font-size: 55px;
    }
    .container {
        width: 350px;
        height: 500px;
    }
    p {
        font-size: 25px;
    }
}
@media (max-width: 375px) {
    .container {
        width: 300px;
        height: 550px;
    }
    button {
        font-size: 25px;
    }
    #price-input,
    #amount-input,
    #type-select {
        width: 210px;
        height: 65px;
        font-size: 30px;
    }
    p {
        font-size: 28px;
    }
}