* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgba(219, 201, 252, 0.48);
    overflow: hidden;
}

.main {
    text-align: center;
    margin: auto;
    width: 90%;
    padding-top: 45px;
}

#title {
    color: #626377;
    font-size: 75px;
    font-weight: 700;
}

.time-plan {
    margin-top: 20px;
    display: inline-flex;
    font-size: 43px;
    color: rgb(154, 160, 161)
}

.toggle-switch {
    margin: 0 15px;
    width: 75px;
}
.switch {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 80px;
    height: 55px;
    margin: auto;
    border-radius: 25px;
    background: linear-gradient(320deg, #8B5CF6, #dbd0e2);
}

.toggle {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 5px;
}

.pricing-table {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1100px;
}

#basic-plan {
    border-radius: 10px 0px 0px 10px;
    background-color: whitesmoke;
    width: 31%;
    height: 80%;
    box-shadow: 0px 0px 10px rgba(182, 179, 179, 0.85);
    border: none;
    padding: 50px 65px;
}
#master-plan {
    border-radius: 0px 10px 10px 0px;
    background-color: whitesmoke;
    width: 31%;
    height: 80%;
    box-shadow: 0px 0px 10px rgba(182, 179, 179, 0.85);
    border: none;
    padding: 50px 65px;
}
#pro-plan {
    border-radius: 10px;
    background: linear-gradient(120deg, #cbc3eb, mediumpurple);
    width: 34%;
    height: 90%;
    box-shadow: 0px 0px 5px rgb(183, 163, 235);
    padding: 90px 65px;
}

.header-plan h2{
    font-size: 45px;
    color: rgba(80, 79, 79, 0.8);
}
.header-plan p{
    color: #393838;
    font-weight: 700;
    padding-top: 25px;
    font-size: 110px;
    padding-bottom: 25px;
    border-bottom: rgba(108, 117, 125, 0.47) solid 1px;
}

.price:before {
    font-family: sans-serif;
    content: "$";
}
.details-plan p{
    font-weight: 450;
    color: rgb(69, 67, 67);
    font-size: 45px;
    padding: 30px 0;
    border-bottom: rgba(108, 117, 125, 0.47) solid 1px;
}
.purchase-plan {
    margin-top: 60px;
}
.purchase-plan button {
    width: 100%;
    padding: 25px 0;
    border: none;
    border-radius: 2px;
    background-color: rgb(117, 109, 199);
    color: rgb(255, 255, 255);
    transition: background-color 2s;
    font-size: 50px;
}
.middle-details p {
    font-size: 35px;
}
.purchase-plan button:hover {
    cursor: pointer;
    background-color: rgb(134, 138, 212);
}
#middle-purchase button{
    font-size: 50px;
    width: 100%;
    padding: 25px 0;
    border: none;
    border-radius: 2px;
    background-color: ghostwhite;
    color: rgb(117, 109, 199);
    transition: background-color 2s;
}
#middle-purchase button:hover{
    cursor: pointer;
    background-color: rgb(231, 232, 255);
}

@media(max-width: 1850px) {
    #title {
        font-size: 65px;
    }

    .time-plan {
        font-size: 33px;
    }

    .header-plan h2 {
        font-size: 35px;
    }

    .header-plan p {
        font-size: 100px;
    }

    .details-plan p {
        font-size: 35px;
    }

    .purchase-plan button {
        font-size: 40px;
    }

    #middle-purchase button {
        font-size: 40px;
    }

    .middle-details p {
        font-size: 35px;
    }
    #pro-plan {
        padding: 100px 65px;
    }
}

@media(max-width: 1650px) {
    .pricing-table {
        height: 900px;
    }
    #basic-plan {
        width: 32%;
    }
    #master-plan {
        width: 32%;
    }
    #pro-plan {
        width: 35%;
    }
    #title {
        font-size: 50px;
    }
    .time-plan {
        font-size: 30px;
    }
    .header-plan h2 {
        font-size: 30px;
    }

    .header-plan p {
        font-size: 90px;
    }

    .details-plan p {
        font-size: 30px;
        padding: 20px 0;
    }

    .purchase-plan button {
        font-size: 30px;
    }

    #middle-purchase button {
        font-size: 30px;
    }

    .middle-details p {
        font-size: 30px;
    }
    .toggle-switch {
        width: 75px;
    }
    .switch {
        width: 65px;
        height: 40px;
    }

    .toggle {
        width: 30px;
        height: 30px;
    }
}
@media(max-width: 1350px) {
    .pricing-table {
        height: 800px;
    }

    #basic-plan {
        width: 33%;
    }

    #master-plan {
        width: 33%;
    }

    #pro-plan {
        width: 36%;
    }

    #title {
        font-size: 50px;
    }

    .time-plan {
        font-size: 30px;
    }

    .header-plan h2 {
        font-size: 30px;
    }

    .header-plan p {
        font-size: 80px;
    }

    .details-plan p {
        font-size: 30px;
        padding: 15px 0;
    }

    .purchase-plan button {
        font-size: 30px;
    }

    #middle-purchase button {
        font-size: 30px;
    }

    .middle-details p {
        font-size: 30px;
    }

    .toggle-switch {
        width: 70px;
    }

    .switch {
        width: 60px;
        height: 35px;
    }

    .toggle {
        width: 25px;
        height: 25px;
    }
    .main {
        width: 95%;
    }
}
@media(max-width: 1150px) {
    .pricing-table {
        height: 550px;
    }
    .main {
        width: 100%;
    }
    #basic-plan {
        width: 33%;
        height: 80%;
        padding: 20px 20px;
    }
    #master-plan {
        width: 33%;
        height: 80%;
        padding: 20px 20px;
    }
    #pro-plan {
        width: 36%;
        height: 90%;
        padding: 40px 20px;
    }
    #middle-details p {
        font-size: 22px;
    }
    #title {
        font-size: 40px;
    }

    .time-plan {
        font-size: 20px;
    }

    .header-plan h2 {
        font-size: 20px;
    }

    .header-plan p {
        font-size: 60px;
        padding-top: 5px;
    }

    .details-plan p {
        font-size: 20px;
        padding: 10px 0;
    }

    .purchase-plan button {
        padding: 10px 0;
        font-size: 20px;
    }

    #middle-purchase button {
        padding: 10px 0;
        font-size: 22px;
    }

    .toggle-switch {
        width: 50px;
    }

    .switch {
        width: 50px;
        height: 25px;
    }

    .toggle {
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }
    .main {
        width: 95%;
    }
}
/* Mobile devices (up to 767px) */
@media screen and (max-width: 767px) {
    body {
        overflow: scroll;
    }

    .pricing-table {
        flex-direction: column;
        height: auto;
    }

    #basic-plan, #master-plan, #pro-plan {
        width: 90%;
        margin: 10px auto;
        height: auto;
        padding: 30px 20px;
    }

    #title {
        font-size: 45px;
    }

    .header-plan p {
        font-size: 70px;
    }

    .details-plan p {
        font-size: 30px;
    }

    .purchase-plan button {
        font-size: 35px;
    }
}
